WORKER_BASE_URL=BASE_URL
WAECHTER_TOKEN=here_is_your_token
GOOGLE_SAFE_BROWSING_API_KEY=here_is_your_google_safe_browsing_api_key
CLAMAV_ENABLED=false
CLAMAV_SOCKET_PATH=/var/run/clamav/clamd.ctl
SCAN_CONCURRENCY=20
BATCH_SIZE=50
MIN_WAIT_MS=5000
MAX_WAIT_MS=60000
LOG_LEVEL=INFO
THRESHOLD_WARNING=0.70
THRESHOLD_BLOCK=0.95
